# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# 忽略IDE相关
.idea/

# 忽略VSCode相关
.vscode*/

# 忽略构建目录
build*/
Binary/
Binaries/

# 忽略clangd相关
.cache/

# 忽略install测试文件
install/

# 忽略Test文件
Test/

